:root{
    --navy-blue: #1a1f71; /* use like this in code ... attribute: var(--navy-blue);*/
    --bright-red: #e10600;
    --white: #ffffff;
    --steel-gray: #555d66;
    --warning-yellow: #ffc107;
}

.navbar{
  background-color: var(--navy-blue) !important;
}
.navbar-brand{
  color: white !important;
}
.navbar-toggler{
  background-color: var(--white) !important;
  border: solid var(--warning-yellow) 3px !important;
}
.nav-link{
  color: var(--white) !important;
}
.nav-link:hover{
  color: var(--warning-yellow) !important;
}
#link-home{
  color: var(--warning-yellow) !important;
}
.css-background-image{
  background-size: cover;
  background-position: center;
}
.css-body-container{
  background-color: var(--white) !important;
  padding-top: 80px;
}
.css-submit-button{
  width: 80px;
  background-color: var(--bright-red);
  color: var(--white);
  border: none;
}
.css-submit-button-container, label{
  display: flex;
  justify-content: left;
  width: 400px;
}
.css-form-label{
  font-weight: bold;
}
input, textarea{
  border: solid var(--steel-gray) 1px;
}
.css-flex-container-map-message{
  display: flex;
}
.css-map-column{
  border: solid black 1px;
  box-shadow: 10px 5px 5px rgb(118, 118, 118);
}
.css-message-column-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid red 1px;
  padding-left: 20px;
}
