:root{
    --navy-blue: #1a1f71; /* use like this in code ... attribute: var(--navy-blue);*/
    --bright-red: #e10600;
    --white: #ffffff;
    --steel-gray: #555d66;
    --warning-yellow: #ffc107;
}

@media only screen and (max-width: 1399px) {
  .css-flex-container-map-message{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .css-message-column-container{
    padding-top: 25px;
  }
}

.navbar{
  background-color: var(--navy-blue) !important;
}
.navbar-brand{
  color: white !important;
}
.navbar-toggler{
  background-color: var(--white) !important;
  border: solid var(--warning-yellow) 3px !important;
}
.nav-link{
  color: var(--white) !important;
}
.nav-link:hover{
  color: var(--warning-yellow) !important;
}
#link-active{
  color: var(--warning-yellow) !important;
}
.css-background-image{
  background-size: cover;
  background-position: center;
}
.css-body-container{
  background-color: var(--white) !important;
  padding-top: 80px;
}
.css-astrisk{
  color: var(--bright-red);
}
.css-submit-button{
  width: 80px;
  background-color: var(--bright-red);
  color: var(--white);
  border: none;
}
.css-submit-button-container, label{
  display: flex;
  justify-content: left;
  width: 400px;
}
.css-form-label{
  font-weight: bold;
}
input, textarea{
  border: solid var(--steel-gray) 1px;
}
.css-flex-container-map-message{
  display: flex;
  padding-top: 15px;
}
.css-map-column{
  box-shadow: 1px 5px 5px rgb(118, 118, 118);
  max-height: fit-content;
}
.css-message-column-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
}
.footer{
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
  padding-bottom: 20px;
}
.footer-title{
  font-size: 25px;
  font-weight: bold;
}
.list-container{
  list-style: none;
}
.list-link{
  text-decoration: none;
  color: rgb(66, 66, 66);
}
.footer-list-title{
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 20px;
}
.footer-list-item{
  padding-bottom: 5px;
}

